@{
    ViewData["Title"] = "Course Registration program";
    
}

<div class="jumbotron">
    <h1>Course Registration program</h1>
    <p></p>
    <p>Welcome to check your course information.</p>
    
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2><a class="nav-link text-dark" asp-area="" asp-controller="Instructors" asp-action="index">Instructors info</a></h2>
        <p>Check and maintaince the instructors data.</p>
    </div>
    <div class="col-md-4">
        <h2><a class="nav-link text-dark" asp-area="" asp-controller="Student" asp-action="index">Students info</a></h2>
        <p>
            Check and maintaince the students data.
        </p>
    </div>
    <div class="col-md-4">
        <h2><a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="index">Course info</a></h2>
        <p>Check and maintaince the course data.</p>
        <p>Check and maintaince the course reg data.</p>
    </div>
</div>
